{% extends 'base.html' %}

{% block title%}MHW - Lista Clientes{%endblock%}

{%block content%}
<div class="offset-1 col-10 list-div">
    <h1>Lista de Clientes </h1>
    <a id="add-link" href="/novoRegistro/">
        <div class="col-2 add-div">
            <i class="fas fa-plus"></i> Adicionar Cliente
        </div>
    </a>
    <div class="col-9 search-div">
        <input class="form-control" type="text" id="search" name="search" placeholder="Digite o nome do Cliente">
        <i class="fas fa-search"></i>
    </div>
    <ul class="task-list">
        {% for RegCliente in RegClientes%}
        <li class="task-item">
            <span><a href="/RegCliente/{{RegCliente.id}}"> {{RegCliente.RazSoci}} </a></span>
            <span><i class="fas fa-trash"></i></span> 
            <span><i class="fas fa-edit"></i></span> 
        </li>
        {% endfor %}
    </ul>
</div>
{%endblock%}